<div>
  <div class="search-form" fxLayout="row" fxLayoutAlign="center">
    <mat-form-field>
      <mat-select placeholder="Platform" [(value)]="membershipType" required>
        <mat-option [value]="1">XBox</mat-option>
        <mat-option [value]="2">Playstation</mat-option>
        <mat-option [value]="4">Battle.net</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Enter search id" [(ngModel)]="searchString" required/>
      <button mat-button *ngIf="searchString" matSuffix mat-icon-button aria-label="Clear" (click)="searchString=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <button mat-mini-fab (click)="search()">
      <mat-icon>search</mat-icon>
    </button>

    <button mat-mini-fab (click)="clear()">
      <mat-icon>clear</mat-icon>
    </button>
  </div>

  <div>

    <p>{{msg}}</p>



    <!--
    <table mat-table [dataSource]="searchResults" matSort>
      <ng-container matColumnDef="membershipId">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let user">{{user.membershipId}}</td>
      </ng-container>

      <ng-container matColumnDef="displayName">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let user">{{user.displayName}}</td>
      </ng-container>

      <ng-container matColumnDef="profilePicturePath">
        <th mat-header-cell *matHeaderCellDef>Profile Picture</th>
        <td mat-cell *matCellDef="let user">{{user.profilePicturePath}}</td>
      </ng-container>

      <ng-container matColumnDef="lastUpdate">
        <th mat-header-cell *matHeaderCellDef>Last Update</th>
        <td mat-cell *matCellDef="let user">{{user.lastUpdate}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    -->

    <!--
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
     -->
  </div>
</div>
